<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.KotlinApp"
        tools:targetApi="31">
        <activity
            android:name=".listviewtest.ListViewMainActivity"
            android:theme="@style/Theme.JavaApp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".customtitle.TitleLayoutMainActivity"
            android:exported="true"
            android:theme="@style/Theme.JavaApp">
        </activity>
        <activity
            android:name=".controls.ControlsMainActivity"
            android:exported="true"
            android:theme="@style/Theme.JavaApp"></activity>
        <activity
            android:name=".intent.IntentSubMainActivity"
            android:exported="false"
            android:theme="@style/Theme.JavaApp" />
        <activity
            android:name=".intent.IntentMainActivity"
            android:exported="true" />
        <activity
            android:name=".menu.MenuMainActivity"
            android:exported="true"
            android:theme="@style/Theme.JavaApp">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".lifecycle.LifeCycleDialogActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".lifecycle.LifeCycleMainActivity"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.KotlinApp">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
    </application>

</manifest>